<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<h1>Movies</h1>

<div id="movies">
  <table>
    <thead>
      <tr>
        <th style="<%= 'background-color: lightblue;' if @sort == 'title' && @direction == 'asc' %>
                    <%= 'background-color: lightcoral;' if @sort == 'title' && @direction == 'desc' %>">
          <%= link_to "Title #{sorted_indicator('title', @sort, @direction)}", movies_path(sort: "title", direction: toggle_sort("title")) %>
        </th>
        <th style="<%= 'background-color: lightblue;' if @sort == 'rating' && @direction == 'asc' %>
                    <%= 'background-color: lightcoral;' if @sort == 'rating' && @direction == 'desc' %>">
          <%= link_to "Rating #{sorted_indicator('rating', @sort, @direction)}", movies_path(sort: "rating", direction: toggle_sort("rating")) %>
        </th>
        <th style="<%= 'background-color: lightblue;' if @sort == 'release_date' && @direction == 'asc' %>
                    <%= 'background-color: lightcoral;' if @sort == 'release_date' && @direction == 'desc' %>">
          <%= link_to "Release Date #{sorted_indicator('release_date', @sort, @direction)}", movies_path(sort: "release_date", direction: toggle_sort("release_date")) %>
        </th>
        <th>Actions</th>
      </tr>
    </thead>
    
    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td><%= movie.title %></td>
          <td><%= movie.rating %></td>
          <td><%= movie.release_date %></td>
          <td>
            <%= link_to "Show", movie %>
            <%= link_to "Edit", edit_movie_path(movie) %>
            <%= link_to "Delete", movie, method: :delete, data: { confirm: "Are you sure?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
    
    <tfoot>
      <tr>
        <td colspan="4"><%= link_to "New movie", new_movie_path %></td>
      </tr>
    </tfoot>
  </table>
</div>
